{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Add-on repository requests"}}
		</h4>
		<div class="ui attached table segment">
			<table class="ui very basic striped table unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="oldest" data-sortt-desc="newest">ID{{SortArrow "oldest" "newest" $.SortType false}}</th>
						<th>{{ctx.Locale.Tr "admin.repos.owner"}}</th>
						<th data-sortt-asc="alphabetically" data-sortt-desc="reversealphabetically">
							{{ctx.Locale.Tr "admin.repos.name"}}
							{{SortArrow "alphabetically" "reversealphabetically" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "repo.watchers"}}</th>
						<th  data-sortt-asc="moststars" data-sortt-desc="feweststars">
							{{ctx.Locale.Tr "repo.stars"}}
							{{SortArrow "moststars" "feweststars" $.SortType false}}
						</th>
						<th  data-sortt-asc="mostforks" data-sortt-desc="fewestforks">
							{{ctx.Locale.Tr "repo.forks"}}
							{{SortArrow "mostforks" "fewestforks" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "admin.repos.issues"}}</th>
						<th  data-sortt-asc="gitsize" data-sortt-desc="reversegitsize">
							{{ctx.Locale.Tr "admin.repos.size"}}
							{{SortArrow "gitsize" "reversegitsize" $.SortType false}}
						</th>
						<th  data-sortt-asc="lfssize" data-sortt-desc="reverselfssize">
							{{ctx.Locale.Tr "admin.repos.lfs_size"}}
							{{SortArrow "lfssize" "reverselfssize" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "Release Created"}}</th>
						<th>{{ctx.Locale.Tr "admin.users.created"}}</th>
						<th>{{ctx.Locale.Tr "admin.notices.op"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .Repos}}
						{{if not (or .IsTemplate (not .IsPrivate) (not .LatestRelease) .IsFork .IsMirror (eq .Owner.Name "supertux"))}}
							<tr>
								<td>{{.ID}}</td>
								<td>
									<a class="tw-break-anywhere" href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a>
									{{if .Owner.Visibility.IsPrivate}}
										<span class="text gold">{{svg "octicon-lock"}}</span>
									{{end}}
								</td>
								<td>
									<a class="tw-break-anywhere" href="{{.Link}}">{{.Name}}</a>
									{{if .IsArchived}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.archived"}}</span>
									{{end}}
									<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.private"}}</span>
									{{if .Owner.Visibility.IsPrivate}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.internal"}}</span>
									{{end}}
									{{if eq .ObjectFormatName "sha256"}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.sha256"}}</span>
									{{end}}
								</td>
								<td>{{.NumWatches}}</td>
								<td>{{.NumStars}}</td>
								<td>{{.NumForks}}</td>
								<td>{{.NumIssues}}</td>
								<td>{{FileSize .GitSize}}</td>
								<td>{{FileSize .LFSSize}}</td>
								<td><span title="{{DateTime "short" .LatestRelease.CreatedUnix}}"><time data-format="short-date" datetime="{{DateTime "short" .LatestRelease.CreatedUnix}}">{{DateTime "short" .LatestRelease.CreatedUnix}}</time></span></td>
								<td>{{DateTime "short" .CreatedUnix}}</td>
								<td>
									<button class="ui primary button" onclick="window.open('{{.Link}}/settings', '_blank');">{{ctx.Locale.Tr "Configure"}}</button>
									<a class="delete-button" href="" data-url="{{$.Link}}/delete?page={{$.Page.Paginater.Current}}&sort={{$.SortType}}" data-id="{{.ID}}" data-name="{{.Name}}">{{svg "octicon-trash"}}</a>
								</td>
							</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
		<br />

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Add-on update requests"}}
		</h4>
		<div class="ui attached table segment">
			<table class="ui very basic striped table unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="oldest" data-sortt-desc="newest">ID{{SortArrow "oldest" "newest" $.SortType false}}</th>
						<th>{{ctx.Locale.Tr "admin.repos.owner"}}</th>
						<th data-sortt-asc="alphabetically" data-sortt-desc="reversealphabetically">
							{{ctx.Locale.Tr "admin.repos.name"}}
							{{SortArrow "alphabetically" "reversealphabetically" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "repo.watchers"}}</th>
						<th  data-sortt-asc="moststars" data-sortt-desc="feweststars">
							{{ctx.Locale.Tr "repo.stars"}}
							{{SortArrow "moststars" "feweststars" $.SortType false}}
						</th>
						<th  data-sortt-asc="mostforks" data-sortt-desc="fewestforks">
							{{ctx.Locale.Tr "repo.forks"}}
							{{SortArrow "mostforks" "fewestforks" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "admin.repos.issues"}}</th>
						<th  data-sortt-asc="gitsize" data-sortt-desc="reversegitsize">
							{{ctx.Locale.Tr "admin.repos.size"}}
							{{SortArrow "gitsize" "reversegitsize" $.SortType false}}
						</th>
						<th  data-sortt-asc="lfssize" data-sortt-desc="reverselfssize">
							{{ctx.Locale.Tr "admin.repos.lfs_size"}}
							{{SortArrow "lfssize" "reverselfssize" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "Release Title"}}</th>
						<th>{{ctx.Locale.Tr "Release Created"}}</th>
						<th>{{ctx.Locale.Tr "Details"}}</th>
						<th>{{ctx.Locale.Tr "admin.notices.op"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .Repos}}
						{{if not (or .IsPrivate (not .LatestRelease) (or .LatestRelease.IsVerified .LatestRelease.IsRejected))}}
							<tr>
								<td>{{.ID}}</td>
								<td>
									<a class="tw-break-anywhere" href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a>
									{{if .Owner.Visibility.IsPrivate}}
										<span class="text gold">{{svg "octicon-lock"}}</span>
									{{end}}
								</td>
								<td>
									<a class="tw-break-anywhere" href="{{.Link}}">{{.Name}}</a>
									{{if .IsArchived}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.archived"}}</span>
									{{end}}
									{{if .Owner.Visibility.IsPrivate}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.internal"}}</span>
									{{end}}
									{{if eq .ObjectFormatName "sha256"}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.sha256"}}</span>
									{{end}}
								</td>
								<td>{{.NumWatches}}</td>
								<td>{{.NumStars}}</td>
								<td>{{.NumForks}}</td>
								<td>{{.NumIssues}}</td>
								<td>{{FileSize .GitSize}}</td>
								<td>{{FileSize .LFSSize}}</td>
								<td><b>{{.LatestRelease.Title}}</b></td>
								<td><span title="{{DateTime "short" .LatestRelease.CreatedUnix}}"><time data-format="short-date" datetime="{{DateTime "short" .LatestRelease.CreatedUnix}}">{{DateTime "short" .LatestRelease.CreatedUnix}}</time></span></td>
								<td>
									{{if .AddonRepository}}
										<button class="ui primary button" onclick="window.open('{{.Link}}/compare/{{index .AddonRepository.Versions 0}}...{{.LatestRelease.Sha1}}', '_blank');">{{ctx.Locale.Tr "Compare"}}</button>
									{{else}}
										<button class="ui primary button" disabled>{{ctx.Locale.Tr "Compare"}}</button>
									{{end}}
								</td>
								<td>
									<a class="ui green button delete-button" href="" data-modal-id="verify-modal" data-url="{{$.Link}}/release/verify?id={{.ID}}&page={{$.Page.Paginater.Current}}&sort={{$.SortType}}" data-name="{{.Name}}" data-release-title="{{.LatestRelease.Title}}">{{ctx.Locale.Tr "Verify"}}</a>
									<a class="ui red button delete-button" href="" data-modal-id="reject-modal" data-type="form-integrated" data-form="#rejection-reason-form" data-url="{{$.Link}}/release/reject?id={{.ID}}&page={{$.Page.Paginater.Current}}&sort={{$.SortType}}" data-name="{{.Name}}" data-release-title="{{.LatestRelease.Title}}">{{ctx.Locale.Tr "Reject"}}</a>
								</td>
							</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
		<br />

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "Add-on repository management"}}
		</h4>
		<div class="ui attached table segment">
			<table class="ui very basic striped table unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="oldest" data-sortt-desc="newest">ID{{SortArrow "oldest" "newest" $.SortType false}}</th>
						<th>{{ctx.Locale.Tr "admin.repos.owner"}}</th>
						<th data-sortt-asc="alphabetically" data-sortt-desc="reversealphabetically">
							{{ctx.Locale.Tr "admin.repos.name"}}
							{{SortArrow "alphabetically" "reversealphabetically" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "repo.watchers"}}</th>
						<th  data-sortt-asc="moststars" data-sortt-desc="feweststars">
							{{ctx.Locale.Tr "repo.stars"}}
							{{SortArrow "moststars" "feweststars" $.SortType false}}
						</th>
						<th  data-sortt-asc="mostforks" data-sortt-desc="fewestforks">
							{{ctx.Locale.Tr "repo.forks"}}
							{{SortArrow "mostforks" "fewestforks" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "admin.repos.issues"}}</th>
						<th  data-sortt-asc="gitsize" data-sortt-desc="reversegitsize">
							{{ctx.Locale.Tr "admin.repos.size"}}
							{{SortArrow "gitsize" "reversegitsize" $.SortType false}}
						</th>
						<th  data-sortt-asc="lfssize" data-sortt-desc="reverselfssize">
							{{ctx.Locale.Tr "admin.repos.lfs_size"}}
							{{SortArrow "lfssize" "reverselfssize" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "admin.auths.updated"}}</th>
						<th>{{ctx.Locale.Tr "Last Release"}}</th>
						<th>{{ctx.Locale.Tr "admin.users.created"}}</th>
						<th>{{ctx.Locale.Tr "admin.notices.op"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .Repos}}
						{{if not (or .IsTemplate .IsPrivate .IsFork .IsMirror (eq .Owner.Name "supertux"))}}
							<tr>
								<td>{{.ID}}</td>
								<td>
									<a class="tw-break-anywhere" href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a>
									{{if .Owner.Visibility.IsPrivate}}
										<span class="text gold">{{svg "octicon-lock"}}</span>
									{{end}}
								</td>
								<td>
									<a class="tw-break-anywhere" href="{{.Link}}">{{.Name}}</a>
									{{if .IsArchived}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.archived"}}</span>
									{{end}}
									{{if .Owner.Visibility.IsPrivate}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.internal"}}</span>
									{{end}}
									{{if eq .ObjectFormatName "sha256"}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.sha256"}}</span>
									{{end}}
								</td>
								<td>{{.NumWatches}}</td>
								<td>{{.NumStars}}</td>
								<td>{{.NumForks}}</td>
								<td>{{.NumIssues}}</td>
								<td>{{FileSize .GitSize}}</td>
								<td>{{FileSize .LFSSize}}</td>
								<td>{{DateTime "short" .UpdatedUnix}}</td>
								<td>
									<span title="{{DateTime "short" .LatestRelease.CreatedUnix}}"><time data-format="short-date" datetime="{{DateTime "short" .LatestRelease.CreatedUnix}}">{{DateTime "short" .LatestRelease.CreatedUnix}}</time></span>
									{{if .LatestRelease.IsVerified}}
										<span class="ui green label">{{ctx.Locale.Tr "Verified"}}</span>
									{{else if .LatestRelease.IsRejected}}
										<span class="ui red label">{{ctx.Locale.Tr "Rejected"}}</span>	
									{{else}}
										<span class="ui yellow label">{{ctx.Locale.Tr "Pending"}}</span>
									{{end}}
								</td>
								<td>{{DateTime "short" .CreatedUnix}}</td>
								<td><a class="delete-button" href="" data-form="#rejection-reason-form" data-url="{{$.Link}}/delete?page={{$.Page.Paginater.Current}}&sort={{$.SortType}}" data-id="{{.ID}}" data-name="{{.Name}}">{{svg "octicon-trash"}}</a></td>
							</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
		<br />

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.repos.repo_manage_panel"}} ({{ctx.Locale.Tr "admin.total" .Total}})
			<div class="ui right">
				<a class="ui primary tiny button" href="{{AppSubUrl}}/admin/repos/unadopted">{{ctx.Locale.Tr "admin.repos.unadopted"}}</a>
			</div>
		</h4>
		<div class="ui attached segment">
			{{template "shared/repo_search" .}}
		</div>
		<div class="ui attached table segment">
			<table class="ui very basic striped table unstackable">
				<thead>
					<tr>
						<th data-sortt-asc="oldest" data-sortt-desc="newest">ID{{SortArrow "oldest" "newest" $.SortType false}}</th>
						<th>{{ctx.Locale.Tr "admin.repos.owner"}}</th>
						<th data-sortt-asc="alphabetically" data-sortt-desc="reversealphabetically">
							{{ctx.Locale.Tr "admin.repos.name"}}
							{{SortArrow "alphabetically" "reversealphabetically" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "repo.watchers"}}</th>
						<th  data-sortt-asc="moststars" data-sortt-desc="feweststars">
							{{ctx.Locale.Tr "repo.stars"}}
							{{SortArrow "moststars" "feweststars" $.SortType false}}
						</th>
						<th  data-sortt-asc="mostforks" data-sortt-desc="fewestforks">
							{{ctx.Locale.Tr "repo.forks"}}
							{{SortArrow "mostforks" "fewestforks" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "admin.repos.issues"}}</th>
						<th  data-sortt-asc="gitsize" data-sortt-desc="reversegitsize">
							{{ctx.Locale.Tr "admin.repos.size"}}
							{{SortArrow "gitsize" "reversegitsize" $.SortType false}}
						</th>
						<th  data-sortt-asc="lfssize" data-sortt-desc="reverselfssize">
							{{ctx.Locale.Tr "admin.repos.lfs_size"}}
							{{SortArrow "lfssize" "reverselfssize" $.SortType false}}
						</th>
						<th>{{ctx.Locale.Tr "admin.auths.updated"}}</th>
						<th>{{ctx.Locale.Tr "admin.users.created"}}</th>
						<th>{{ctx.Locale.Tr "admin.notices.op"}}</th>
					</tr>
				</thead>
				<tbody>
					{{range .Repos}}
						<tr>
							<td>{{.ID}}</td>
							<td>
								<a class="tw-break-anywhere" href="{{.Owner.HomeLink}}">{{.Owner.Name}}</a>
								{{if .Owner.Visibility.IsPrivate}}
									<span class="text gold">{{svg "octicon-lock"}}</span>
								{{end}}
							</td>
							<td>
								<a class="tw-break-anywhere" href="{{.Link}}">{{.Name}}</a>
								{{if .IsArchived}}
									<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.archived"}}</span>
								{{end}}
								{{if .IsPrivate}}
									<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.private"}}</span>
								{{else}}
									{{if .Owner.Visibility.IsPrivate}}
										<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.internal"}}</span>
									{{end}}
								{{end}}
								{{if .IsTemplate}}
									<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.template"}}</span>
								{{end}}
								{{if eq .ObjectFormatName "sha256"}}
									<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.sha256"}}</span>
								{{end}}
								{{if .IsMirror}}
									{{svg "octicon-mirror"}}
								{{else if .IsFork}}
									{{svg "octicon-repo-forked"}}
								{{end}}
							</td>
							<td>{{.NumWatches}}</td>
							<td>{{.NumStars}}</td>
							<td>{{.NumForks}}</td>
							<td>{{.NumIssues}}</td>
							<td>{{FileSize .GitSize}}</td>
							<td>{{FileSize .LFSSize}}</td>
							<td>{{DateTime "short" .UpdatedUnix}}</td>
							<td>{{DateTime "short" .CreatedUnix}}</td>
							<td><a class="delete-button" href="" data-url="{{$.Link}}/delete?page={{$.Page.Paginater.Current}}&sort={{$.SortType}}" data-id="{{.ID}}" data-name="{{.Name}}">{{svg "octicon-trash"}}</a></td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>

		{{template "base/paginate" .}}
	</div>

<div class="ui g-modal-confirm delete modal">
	<div class="header">
		{{svg "octicon-trash"}}
		{{ctx.Locale.Tr "repo.settings.delete"}}
	</div>
	<div class="content">
		<p>{{ctx.Locale.Tr "repo.settings.delete_desc"}}</p>
		{{ctx.Locale.Tr "repo.settings.delete_notices_2" (`<span class="name"></span>`|SafeHTML)}}<br>
		{{ctx.Locale.Tr "repo.settings.delete_notices_fork_1"}}<br>
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>

<div class="ui g-modal-confirm delete modal" id="verify-modal">
	<div class="header">
		{{ctx.Locale.Tr "Verify Add-on"}}
	</div>
	<div class="content">
		<p>{{ctx.Locale.Tr (printf "Are you sure you want to verify the latest release \"%s\" of %s?" "<b class=\"release-title\"></b>" "<b class=\"name\"></b>")}}</p>
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>

<div class="ui g-modal-confirm delete modal" id="reject-modal">
	<div class="header">
		{{ctx.Locale.Tr "Reject Add-on"}}
	</div>
	<div class="content">
		<p>{{ctx.Locale.Tr (printf "Are you sure you want to reject the latest release \"%s\" of %s?" "<b class=\"release-title\"></b>" "<b class=\"name\"></b>")}}</p>
		 <form id="rejection-reason-form">
			<label for="rejection-reason">{{ctx.Locale.Tr "Rejection reason:"}}</label><br>
			<input type="text" id="rejection-reason" name="reason">
		</form> 
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>

{{template "admin/layout_footer" .}}
