{{template "base/head" .}}
<div class="page-content home">
	<div class="tw-mb-8 tw-px-8">
		<div class="center">
			<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg">
			<div class="hero">
				<h2 class="ui icon header title">
					{{AppName}}
				</h2>
			</div>
		</div>
	</div>
	<br />
	<div class="center">
		<p class="large bold">
			Welcome to the official SuperTux Add-on repositories!
		</p>
		<p class="large">
			More info about the site here
		</p>
	</div>
</div>
{{template "base/footer" .}}
